flows/Registration_Count.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Reg_Count</name>
        <label>Assign Reg Count</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>RegCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Registration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Event_Record</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Registration Count {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration Count</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Registration</name>
        <label>Get Registration</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Reg_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Event__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Event_Record</name>
        <label>Update Event Record</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Event__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Registered_Attendees__c</field>
            <value>
                <elementReference>RegCount</elementReference>
            </value>
        </inputAssignments>
        <object>Event__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Registration</targetReference>
        </connector>
        <object>Registration__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RegCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
